@import "colors";
body {
    background-color: lightgray;
    width: 100%;
    margin: 0;
    font-family: $font1;
}
h1,
h2,
h3 {
    font-weight: 400;
}
.content {
    width: $size * 25;
    margin: 0 auto;
    height: 50vh;
}
/*------------header section here---------*/
nav {
    background-color: $col1;
    ul { 
        list-style: none;
        color: $col2; 
        margin-top: 0;
        padding-left: $size / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        height: 1.5em;
    }
}
header {
    background-image: url("../img/welcome.jpg");
    background-position: center;
    background-size: cover;
    height: 33vh;
    div {
        color: $col2;
        text-align: center;
        h1 {
            font-size: $size * 1.5;
            margin-bottom: 0;
        }
        h2 {
            color: $col1;
            margin-top: 0;
        }
    }   
}
/*------------main section here---------*/
main {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    h2 {
        color: $col3;
        margin-top: $size -1em;
        margin-bottom: 0;
        text-align: center;
        font-size: $size;
    }
    div {
        display: flex;
        justify-content: space-between;
        aside {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: $col3;
            width: 34em;
            p {
                font-size: 1em;
            }
        }
    }   img {
        width: 14em;
        height: 17em;

    }
}
/*------------characters section here---------*/
.characters {
   text-align: center;
   color: $col3;
   margin-top: 0;
   background-image: url("../img/rey-standing.jpg");
   width: 100%;
   height: 65vh;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 1em;
   div {
       margin: 0 auto;
       display: flex;
       align-items: center;
       :nth-child(6n-5) {
        width: $size * 2;
        height: $size * 2;
       }
       :nth-child(2),
       :nth-child(6) {
        width: $size * 2.5;
        height: $size * 2.5;
       }
       :nth-child(3),
       :nth-child(5)  {
        width: $size * 3;
        height: $size * 3;
       }
       img {
           width: $size * 4;
           height: $size * 4;
           border-radius: 50%;
       }
       
   } 
}
/*------------ratings section here---------*/
.ratings {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gray;
    article {
        display: flex;
        justify-content: center;
        height: 20em;
        div {
            display: flex;
            flex-direction: column;
            padding-right: 1em;
            
            h4 {
                margin: 0;
            }
            .imbd {
                flex-grow: 25;
            }
            .rotten {
                flex-grow: 10;
            }
            .meta {
                flex-grow: 15;
            }
            div {
                background-color: $col1;
                flex-grow: 100;
            }
        }
    }
}
/*------------cast section here---------*/
.cast {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    h2 {
        text-align: center;
    }
    .rest-of-cast {
        display: flex;
        justify-content: space-between;
        width: 100%;
        div {
            position: relative;
        }
        p {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
            left: 0;
            background-color: black;
            color: $col2;
            margin: 0;
        }
        img {
            width: 7.4em;
            height: 10em;
            position: relative;
        }
    }
    .hamill {
        display: flex;
        flex-direction: row;
        img {
            width: 10em;
            height: 14em;
            margin-right: 1em;
        }
    }
}
/*------------footer section here---------*/
footer {
    width: 100%;
    height: 50vh;
    text-align: center;
    div {
        background-image: url("../img/gallery.jpg");
        background-size: cover;
        height: 85%;

    }
    h2 {
        height: 15%;
    }
}