// Your own styles
p {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-family: 'Oswald', cursive;
    font-weight: 700;
    color:rgb(93, 97, 100);
    margin-right: 2em;
}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 3em;

}
h5 {
    font-family: 'Oswald', sans-serif;
    color:rgb(93, 97, 100);
    margin-right: 10em;
}
li a {
    font-size: 1.5em;
    color: white;
}