@import "colors";
@import "js";
@import "contact-page";
@import "menu";



body {
    width: 100vw;
    margin: 0 auto;
    background-color: #000000;
    background-image: $main-bg3;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    display: flex;
    flex-direction: column;
    height: auto;
    @media all and (min-width: 1025px) and (max-width: 1440px) {
        width: 80vw;
    }
}
/*------------NAV SECTION HERE----------*/
nav {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    color: $col2;
    height: auto;
    margin-bottom: 5em;
    width: 100vw;
    background-image: linear-gradient($col4, $col5);
    @media all and (max-width: 480px) {
        margin-top: 0;
        margin-bottom: 1em;
        height: 2.2em;
        position: fixed;
    }
    @media all and (min-width: 481px) and (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 1.5em;
        height: 2.5em;
        position: fixed;
    }
    @media all and (min-width: 1025px) and (max-width: 1440px) {
        width: 80vw;
    }
    .nav-bar {
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 480px) {
            align-items: stretch;
            justify-content: center;
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            justify-content: center;
        }
        div {
            display: flex;
            justify-content: flex-start;
            a {
                display: block;
                color: white;
                text-decoration: none; 
                padding: 0 2em;
                font-size: 1.8em;
                line-height: 1.8em;
                text-align: center;
                height: 100%;
                @media all and (max-width: 480px) {
                    font-size: 1em;
                    border-radius: 5%;
                    padding: 0 .5em;
                }
                @media all and (min-width: 481px) and (max-width: 768px) {
                    font-size: 1.2em;
                    padding: 0 1em;
                }
            }
            .nav-link {
                @media all and (max-width: 480px) {
                    display: none;
                }
                @media all and (min-width: 481px) and (max-width: 768px) {
                    display: none;
                }
            }
        }
        h4 {
            display: block;
            float: right;
            padding: 0 .4em;
            font-size: 1.8em;
            line-height: 1.8em;
            margin: 0;
            font-family: 'Aguafina Script', cursive;
            @media all and (max-width: 480px) {
                font-size: 1.5em;
            }

        }
    }
}
/*------------MAIN SECTION HERE----------*/
.header {
    height: 40em;
    background-image: url("../img/vector.png");
    background-position: center;
    background-size: cover;
    color: $col2;
    overflow: hidden; 
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media all and (max-width: 480px) {
        height: 65vh;
        border-radius: 5%;
    }
    @media all and (min-width: 481px) and (max-width: 768px) {
        border-radius: 5%;
    }
    .upper-header {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (max-width: 480px) {
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h4 {
            margin-top: 2em;
            font-size: 3em;
            transform:skew(0deg,-15deg);
            line-height: 1.5em;
            text-shadow: 6px 6px 8px $col4;
            @media all and (max-width: 480px) {
                transform:skew(0deg,0deg);
                font-size: 1.7em;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                padding: 1em; 
                font-size: 2em;
            }
        }
    }
    .middle-header {
        height: 30%;
        width: 80vw;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        @media all and (max-width: 480px) {
            height: 15%;
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            height: 15%;
        }
        p {
            margin: auto auto;
            padding-top: 1em;
            text-align: center;
            font-size: 1.7em;
            @media all and (max-width: 480px) {
                font-size: 1em;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.15em;   
            }
        }
    }
}
/*------------SKILLS SECTION HERE----------*/
main {
    display: flex;
    flex-direction: column;
    .start {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: $col2;
        @media all and (max-width: 480px) {
            flex-direction: column;
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            flex-direction: row;
        }
        div {
            border: 1px solid $col3;
            border-radius: 50%;
            width: 20em;
            height: 15em;
            background-image: linear-gradient($col4, $col5);
            @media all and (max-width: 480px) {
                border-radius: 5%;
                width: 100%;
                height: 15vh;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                width: calc(60%-1em);
                border-radius: 5%;
                height: 15vh;
            }
            p {
                font-size: 1.3em;
                padding-top: 1.8em;
                width: 80%;
                margin: 0 auto;
                transform:skew(0deg,-4deg);
                @media all and (max-width: 480px) {
                    padding-top: .5em;
                    font-size: 1em;
                }
                @media all and (min-width: 481px) and (max-width: 768px) {
                    font-size: 1em;
                    padding-top: .2em;
                }
            }
            h4 {
                margin-bottom: 0;
                font-size: 2em;
                transform:skew(0deg,-4deg);
                @media all and (max-width: 480px) {
                    padding-top: .5em;
                    margin: 0;
                    font-size: 1.2em;
                }
                @media all and (min-width: 481px) and (max-width: 768px) {
                    font-size: 1.4em;
                    margin: 0.3em;
                }
            }
        }
    }
    .skills {
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            font-weight: bold;
            margin-top: 2em;
            color: $col1;
            text-shadow: 6px 6px 8px brown;
            font-size: 3em;
        }
        aside {
            display: flex;
            flex-direction: row;
            width: 70%;
            margin: 0 auto;
            height: 5em;
            padding: 1em;
            @media all and (max-width: 480px) {
                width: 90%;
                height: 3em;
                flex-wrap: wrap;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                height: 4em;
                width: 90%;
            }
                .context {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    width: 6em;
                    flex-grow: 0;
                    color: $col2;
                    background-image: linear-gradient($col4, $col5);
                    border-radius: 15% 0 0 15%;
                    @media all and (max-width: 480px) {
                        width: 5em;
                    }
                    @media all and (min-width: 481px) and (max-width: 768px) {
                        width: 4em;
                    }
                }
                .fill {
                    flex-grow: 100;
                    border: 1px solid #3E484A;
                    background-color: #3E484A;
                }
                .num1 {
                    flex-grow: 15;
                }
                .num2 {
                    flex-grow: 20;
                }
                .num3 {
                    flex-grow: 25;
                }
                .num4 {
                    flex-grow: 40;
                }
                .num5 {
                    flex-grow: 25;
                }
                .num6 {
                    flex-grow: 40;
                }
                .end {
                    background-color: #91ACB7;
                    border-radius: 0 15% 15% 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $col1;
                }
        }
    }
}
.start div:hover {
    border: 1px ridge $col1;
    color: $col1;
    background-image: linear-gradient($col6, $col7);
    transition: all 0.3s ease-in-out;
}
/*------------PORTFOLIO SECTION HERE----------*/
.portfolio {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 6em auto 0 auto;
    @media all and (max-width: 480px) {
        margin-top: 2em;
    }
    @media all and (min-width: 1025px) and (max-width: 1440px) {
        width: 80vw;
    }
    h2 {
        text-align: center;
        font-weight: bold;
        margin-top: 2em;
        color: $col1;
        text-shadow: 6px 6px 8px brown;
        font-size: 3em;
        @media all and (max-width: 480px) {
            margin-top: 0;
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            margin-top: 0;
        }
    }
    article {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $col2;
        font-size: 1.2em;
        @media all and (max-width: 480px) {
            flex-direction: column;
            margin-top: 0em;
        }
        @media all and (min-width: 481px) and (max-width: 768px) {
            flex-direction: column;
            margin-top: 0;
        }
        div {
            flex: 1;
            @media all and (max-width: 480px) {
                width: 80%;
                margin: 0 20%;
                display: flex;
                flex-direction: column;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                display: flex;
                flex-direction: row;
                width: 90%;
                margin-bottom: 1em;
            }
            a { 
                @media all and (max-width: 480px) {
                    width: 80%;    
                }
                @media all and (min-width: 481px) and (max-width: 768px){
                    width: 50%;    
                }
                img {
                    width: 80%;
                    height: 14em;
                    border: 1px solid red;
                    @media all and (max-width: 480px) {
                        width: 90%;
                    }
                    @media all and (min-width: 481px) and (max-width: 768px) {
                        width: 80%;
                    }
                }
                .hackaton1 {
                    background-color: #f4db78;
                    border: 1px solid #f4db78;
                }
                .hackaton2 {
                    border: 1px solid #8B3E14;
                }
            }
            
            aside {
                @media all and (max-width: 480px) {
                    width: 80%;
                    margin: 0;
                }
                @media all and (min-width: 481px) and (max-width: 768px) {
                    width: 50%;
                    margin-left: 2em;
                    font-size: 1.5em;
                }
                h5 {
                    @media all and (min-width: 481px) and (max-width: 768px) {
                        padding-bottom: .2em;
                        border-bottom: 2px solid white;
                    }
                }
            }
              
        }
    }
}
/*------------ABOUT ME SECTION HERE----------*/
.title {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
    color: $col1;
    text-shadow: 6px 6px 8px brown;
    font-size: 3em;
    @media all and (max-width: 480px) {
        font-size: 2em;              
    }
}
.bio {
    color: $col2;
    border-radius: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
    @media all and (max-width: 1024px) {
        display: block;
    }
    img {
        width: 20em;
        height: 30em;
        border-radius: 15%;
        @media all and (max-width: 1024px) {
            width: 50%;
            height: 50%;
            float: left;
            margin-right: .5em;
        }
    }
    div {
        margin-left: 1em;
        @media all and (max-width: 480px) {
             
        }
        p {
            font-size: 1.5em;
            line-height: 2em;
            margin-top: 0;
            margin-bottom: 0;
            @media all and (max-width: 480px) {
                font-size: .8em;
                line-height: 1.2em;
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.2em;
                line-height: 1.5em;
            }
            @media all and (min-width: 769px) and (max-width: 1024px) {
                line-height: 1.5em;
            }
           
        }
        h5 {
            font-size: 2em;
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 0;
            @media all and (max-width: 480px) {
                font-size: 1em;       
            }
            @media all and (min-width: 481px) and (max-width: 768px) {
                font-size: 1.5em;
                text-align: center;
            }
        }
        span {
            color: $col1;
            text-decoration: underline;
        }
    }
}
/*------------FOOTER SECTION HERE----------*/
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
    margin-top: 3em;
    position: relative;
    height: 35vh;
    h3 {
        color: gray;
        margin: .5em;
    }
}
@media all and (min-width: 1025px) and (max-width: 1440px) {
    width: 80vw;
}

.icon-up {
    margin: 0 auto;
    position: absolute;
    top: -1.5em;
    right: 5em;
    color: $col1;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 480px) {
        right: 2em;
    }
    img {
        width: 3.5em;
        height: 3.5em;
        @media all and (max-width: 480px) {
            width: 2em;
            height: 2em;
        }
    }
}
.social {
    h2 {
    text-align: center;
    font-weight: bold;
    color: $col1;
    text-shadow: 6px 6px 8px brown;
    font-size: 3em;
    margin: 0;
    @media all and (max-width: 480px) {
        font-size: 2em;
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin-bottom: 1em;
            img {
            width: 3em;
            height: 3em;
            margin: .5em;
            padding: 1em 0;
            }
        }
    }  
}



